header {
    background-color: cadetblue;
    /* position: absolute; */
    top: 22px;
    /* width: 100%; */
    right: 0;
}

.result-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.return-to-menu {
    display: flex;
    justify-content: center;
}